.footer{
   background-color: #202020;
   color: white;

}

.footerInfo{
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.footerInfo > * {
   flex-grow: 1;
   flex-basis: 0;
}

.footerInfo > :nth-child(3){
   justify-self: flex-end;
}
