.navbar{
   background-color: #202020;
   /* backdrop-filter: blur(1px); */
   /* border-bottom: 2px solid #202020; */
   /* box-shadow: 0px 1px 8px rgba(128, 128, 128, 0.251); */
   color: white;
}

.navbarContent{
   display: flex;
   justify-content: space-between;
   align-items: center;
}


