.title{
   font-size: 40px;
   line-height: 1.2;
}

.subTitle{
   font-size: 20px;
   line-height: 1.4;
}

.title, .subTitle{
   font-weight: bold;
   color: #596478;
}

.infoContainer{
   display: flex;
   flex-direction: row;
   gap: 50px;
   justify-content: space-between;
   margin-bottom: 20px;
   height: 500px;
}

.info__img{
   width: 65%;
   object-fit: cover;
}

.info__detailsContainer{
   display: flex;
   flex-direction: column;
   justify-content: space-between;
}

.details__locationContainer{
   display: flex;
   flex-direction: row;
   height: auto;
   max-height: 50%;
   gap: 20px;
   overflow: hidden;

}

.location__text{
   width: 72px;
   font-size: 12px;
   font-family: Arial, Helvetica, sans-serif;
   line-height: 1.1;
}

.location__img{
   object-fit: contain;
   height:auto;
   background-color: white; 
   mix-blend-mode: multiply; 
}

.description{
   font-family: Arial, Helvetica, sans-serif;
   text-align: justify;
}

.plano{
   width: 100%;
   height: auto;
   margin-bottom: 20px;
}


@media(max-width: 800px){
   .details__locationContainer{
      display: none;
   }

   .infoContainer{
      display: flex;
      flex-direction: column;
      gap: 12px;
      margin-bottom: 20px;
      height: auto;
   }

   .info__img{
      width: 100%;
      height: auto;
      object-fit: contain;
   }
}