*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  background-color: white;
  line-height: 1.7;
  background-image: url("/assets/bg.svg");
}


.contentWrapper{
  padding: 32px;
  margin: 0 auto;
  max-width: 1280px;
}

.undecoredLink{
  text-decoration: none;
  color: unset;
}

.sectionTitle{
  margin-bottom: 32px;
  position: relative;
  font-size: 32px;
  font-weight: bold;
  display: inline-block;
  color: #596478;
}

.sectionTitle::before{
  background-color: #596478;
  content: "";
  height: 5px;
  width: 33%;
  position: absolute;
  bottom:-4px;
}