.header{
   max-width: 100vw;
   height: 70vh;
   min-height: calc(100vh - 90px);
   background-position: top;
   background-image: url("/assets/images/banner.webp");
   background-repeat: no-repeat;
   background-size: cover;
   color: white;

   display: flex;
   flex-direction: column;
   justify-content: center;
}

.headerContent{
   width: 100%;
   display: flex;
   flex-direction: column;
   justify-content: center;
   gap: 32px;
}

.headerTitle{
   font-size: 48px;
   font-weight: bold;
   max-width: 580px;
   line-height: 1.2;
   text-wrap: pretty;
}

.headerDesc{
   max-width: 580px;
   text-wrap: pretty;
   line-height: 1.6;
}

.sectionTitle{
   margin-bottom: 32px;
   position: relative;
   font-size: 32px;
   font-weight: bold;
   display: inline-block;
   color: #596478;
}

.sectionTitle::before{
   background-color: #596478;
   content: "";
   height: 5px;
   width: 33%;
   position: absolute;
   bottom:-4px;
}

.cardsContainer{
   margin-bottom: 16px;
}

.cardsContainer > :not(:last-child) {
   margin-bottom: 16px;
}

.buttonCentered{
   margin: 0 auto;
   border: 2px solid black;
}