.card{
   display: flex;
   flex-direction: column;
   width: 100%;
}

.cardImg{
   object-fit: cover;
   width: 100%;
}


.cardInfo{
   background-color: #202020;
   color: white;
   padding: 18px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   gap: 4px;
   height: 80px;  /*  <---  */
}

.cardInfoTitle{
   font-size: 18;
   font-weight: 500;
}

.cardInfoLocation{
   font-size: 16px;
   color: #E0E0E0;
}

.cardInfoIcon{
   transform: translateY(2px);
}

.cardInfoDesc{
   font-size: 18px;
   text-wrap: pretty;
   color: #E0E0E0;
   overflow: hidden;    /*  <---  */
   text-overflow: ellipsis;
   display: -webkit-box;
   -webkit-line-clamp: 8; /* Limita a 8 líneas */
   -webkit-box-orient: vertical;
}

.cardInfoButton{
   background-color: #232323;
   border: 1px solid #979797;
   border-radius: 50%;
   color: white;
   font-size: 18px;
   text-align: center;
   height: 56px;
   width: 56px;
   display: flex;
   align-items: center;
   justify-content: center;

   transition: all;
   transition-duration: 300ms;
}

.cardInfoButton:hover{
   cursor: pointer;
   background-color: #202020;
}

