.button{
   background-color: #4D84EF;
   padding: 12px 32px;
   width: fit-content;
   font-size: 24px;
   color: white;
   display: block;
   border: none;
   cursor: pointer;

   transition: all;
   transition-duration: 300ms;
}

.button:hover{
   background-color: hsl(220, 58%, 53%);
   
}

.button:active{
   transform: translateY(4px);
   background-color: hsl(220, 52%, 44%);
}

